<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.example.ab.popularmovies">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
    android:allowBackup="true"
    android:fullBackupContent="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="GoogleAppIndexingWarning">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:label="@string/title_activity_movie_detail"
      android:name=".MovieDetailActivity"
      android:parentActivityName=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar"
      tools:ignore="UnusedAttribute">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.example.ab.popularmovies.MainActivity"/>
    </activity>
    <activity
      android:label="@string/title_activity_favorite_movie"
      android:name=".favorite.FavoriteMovieActivity"
      android:parentActivityName=".MainActivity"
      android:theme="@style/AppTheme.NoActionBar"
      tools:targetApi="jelly_bean">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.example.ab.popularmovies.MainActivity"/>
    </activity>

    <provider
      android:authorities="com.example.ab.popularmovies"
      android:exported="false"
      android:name=".db.MovieContentProvider"/>

  </application>

</manifest>